
.titulo{
    text-align: center;
}
#personajes {
	border: medium solid;
	width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#personajes td{
	width: 128px;
	height: 134px;
	border: thin solid;
}

#personajes td.seleccionado{
	border: medium solid #939;
}
.berniParado{
    background-image: url(./img/x2/berniParado.png);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.loboParado{
    background-image: url(./img/x2/LoboParado.png);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.matiParado{
    background-image: url(./img/x2/matiParado.png);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.miriamParado{
    background-image: url(./img/x2/miriamParado.png);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.mostrar{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    margin: 0 auto;
}

/*
Berni
*/
.berni{
    height: 248px;
    width: calc(1553px/6);
    background: url(img/x4/berniCamina.png);
    animation: berniCamina 2s steps(6) infinite;
}
.berniAtaca{
    height: 308px;
    width: calc(4740px/6);
    background: url(img/x4/berniAtaca.png);
    animation: berniAtaca 0.8s steps(6) normal;
}

@keyframes berniAtaca{
    from {
        background-position:0;
    }
    to{
        background-position: -4540px;
    }
}
@keyframes berniCamina{
    from {
        background-position:0;
    }
    to{
        background-position: -1553px;
    }
}
/*
Matias
*/
.mati{
    height: 243px;
    width: calc(2047px/8);
    background: url(img/x4/matiCamina.png);
    animation: matiCamina 1s steps(8) infinite;
}

.matiAtaca{
    height: 263px;
    width: calc(1744px/7);
    background: url(img/x4/matiAtaca.png);
    animation: matiAtaca 0.8s steps(7) normal;
}


@keyframes matiCamina{
    from {
        background-position:0;
    }
    to{
        background-position: -2047px;
    }
}

@keyframes matiAtaca{
    from {
        background-position:0;
    }
    to{
        background-position: -1749px;
    }
}
/*
Miriam
*/
.miriam{
    height: 248px;
    width: calc(2308px/9);
    background: url(img/x4/miriamCamina.png);
    animation: miriamCamina 2s steps(9) infinite;
}
.miriamAtaca{
    height: 260px;
    width: calc(3071px/12);
    background: url(img/x4/miriamAtaca.png);
    animation: miriamAtaca 0.8s steps(12) normal;
}

@keyframes miriamAtaca{
    from {
        background-position:0;
    }
    to{
        background-position: -3071px;
    }
}
@keyframes miriamCamina{
    from {
        background-position:0;
    }
    to{
        background-position: -2308px;
    }
}
/*
Lobo
*/
.lobo{
    height: 248px;
    width: calc(2303px/9);
    background: url(img/x4/loboCamina.png);
    animation: loboCamina 2s steps(9) infinite;
}
.loboAtaca{
    height: 377px;
    width: calc(5378px/7);
    background: url(img/x4/loboAtaca.png);
    animation: loboAtaca 0.8s steps(7) normal;
}

@keyframes loboAtaca{
    from {
        background-position:0;
    }
    to{
        background-position: -5378px;
    }
}
@keyframes loboCamina{
    from {
        background-position:0;
    }
    to{
        background-position: -2303px;
    }
}
