
.titulo{
    text-align: center;
}
#personajes {
	border: medium solid;
	width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#personajes td{
	width: 128px;
	height: 134px;
	border: thin solid;
}

#personajes td.seleccionado{
	border: medium solid #939;
}
.berniParado{
    background-image: url(./img/x2/berniParado.png);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.loboParado{
    background-image: url(./img/x2/LoboParado.png);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.matiParado{
    background-image: url(./img/x2/matiParado.png);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.miriamParado{
    background-image: url(./img/x2/miriamParado.png);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/*
Berni
*/

.mostrar{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    margin: 0 auto;
}

.mostrar.berni{
    height: 248px;
    width: calc(1553px/6);
    background: url(img/x4/berniCamina.png);
    animation: berniCamina 2s steps(6) infinite;
}
.mostrar.berniAtaca{
    height: 308px;
    width: calc(4740px/6);
    background: url(img/x4/berniAtaca.png);
    animation: berniAtaca 0.8s steps(6) normal;
}

@keyframes berniAtaca{
    from {
        background-position:0;
    }
    to{
        background-position: -4540px;
    }
}
@keyframes berniCamina{
    from {
        background-position:0;
    }
    to{
        background-position: -1553px;
    }
}
/*
Matias
*/
.mostrar.mati{
    height: 280px;
    width: calc(2047px/8);
    background: url(img/x4/matiCamina.png);
    animation: matiCamina 1s steps(8) infinite;
}

.mostrar.matiAtaca{
    height: 280px;
    width: calc(1749px/7);
    background: url(img/x4/matiAtaca.png);
    animation: matiAtaca 0.8s steps(7) normal;
}


@keyframes matiCamina{
    from {
        background-position:0;
    }
    to{
        background-position: -2047px;
    }
}

@keyframes matiAtaca{
    from {
        background-position:0;
    }
    to{
        background-position: -1749px;
    }
}
