/*
 HEADER 
*/
.titulo{
    text-align: center;
}
/*
 CUADRO DE SELECCION 
*/
#personajes {
    border-collapse: separate;
    border: 4px solid black;
    border-radius: 5px;
	width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

#personajes td{
	width: 128px;
	height: 134px;
	border: 2px solid rgb(2, 2, 77);
    border-radius: 5px;
    background-color: #7ea2d8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#personajes td.seleccionado{
	border: 4px solid rgb(28, 38, 134);
}
.berniParado{
    background-image: url(./img/x2/berniParado.png);
    
}
.loboParado{
    background-image: url(./img/x2/LoboParado.png);
}
.matiParado{
    background-image: url(./img/x2/matiParado.png);
}
.miriamParado{
    background-image: url(./img/x2/miriamParado.png);
}
/*
 ZONA DE BATALLA:Fondo
*/
.fondo{
    background-image: url(./img/fondo/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}
/*
 ZONA DE BATALLA: Personaje + Circulos
*/
.zona{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    height: 400px;
    display: flex;
}
/*
 ZONA DE BATALLA: Personaje
*/
.mostrar{
    filter: brightness(1.1);
    margin: 0 auto;
}
/*
 ZONA DE BATALLA: Circulos
*/
.zonaCirculos{
    margin-right: 20px;
    width: 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.circleVida{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(76, 179, 102);
    position: relative;
    overflow: hidden;
    border: 5px solid rgb(15, 136, 55);
}
.circleVida::after{
    content: "";
    position: absolute;
    top: 70%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgb(30, 117, 27);
    box-shadow: (0,0,4);
    border-radius: 40%;
    animation: rotate 10s linear forwards infinite;
}
@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}
.circleAtaque{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(179, 76, 76);
    position: relative;
    overflow: hidden;
    border: 5px solid rgb(54, 0, 0);
}
.circleAtaque::after{
    content: "";
    position: absolute;
    top: 70%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgb(110, 17, 17);
    box-shadow: (0,0,4);
    border-radius: 40%;
    animation: rotate 10s linear forwards infinite;
}
@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}
/*
ANIMACIONES PERSONAJES
*/
/*
Berni
*/
.berni{
    height: 248px;
    width: calc(1553px/6);
    background: url(img/x4/berniCamina.png);
    animation: berniCamina 2s steps(6) infinite;
}
.berniAtaca{
    height: 308px;
    width: calc(4740px/6);
    background: url(img/x4/berniAtaca.png);
    animation: berniAtaca 0.8s steps(6) normal;
}

@keyframes berniAtaca{
    from {
        background-position:0;
    }
    to{
        background-position: -4540px;
    }
}
@keyframes berniCamina{
    from {
        background-position:0;
    }
    to{
        background-position: -1553px;
    }
}
/*
Matias
*/
.mati{
    height: 243px;
    width: calc(2047px/8);
    background: url(img/x4/matiCamina.png);
    animation: matiCamina 1s steps(8) infinite;
}

.matiAtaca{
    height: 263px;
    width: calc(1744px/7);
    background: url(img/x4/matiAtaca.png);
    animation: matiAtaca 0.8s steps(7) normal;
}


@keyframes matiCamina{
    from {
        background-position:0;
    }
    to{
        background-position: -2047px;
    }
}

@keyframes matiAtaca{
    from {
        background-position:0;
    }
    to{
        background-position: -1749px;
    }
}
/*
Miriam
*/
.miriam{
    height: 248px;
    width: calc(2308px/9);
    background: url(img/x4/miriamCamina.png);
    animation: miriamCamina 2s steps(9) infinite;
}
.miriamAtaca{
    height: 260px;
    width: calc(3071px/12);
    background: url(img/x4/miriamAtaca.png);
    animation: miriamAtaca 0.8s steps(12) normal;
}

@keyframes miriamAtaca{
    from {
        background-position:0;
    }
    to{
        background-position: -3071px;
    }
}
@keyframes miriamCamina{
    from {
        background-position:0;
    }
    to{
        background-position: -2308px;
    }
}
/*
Lobo
*/
.lobo{
    height: 248px;
    width: calc(2303px/9);
    background: url(img/x4/loboCamina.png);
    animation: loboCamina 2s steps(9) infinite;
}
.loboAtaca{
    height: 377px;
    width: calc(5378px/7);
    background: url(img/x4/loboAtaca.png);
    animation: loboAtaca 0.8s steps(7) normal;
}

@keyframes loboAtaca{
    from {
        background-position:0;
    }
    to{
        background-position: -5378px;
    }
}
@keyframes loboCamina{
    from {
        background-position:0;
    }
    to{
        background-position: -2303px;
    }
}

